<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed #sidebar>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Matrix</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['/dashboard']" routerLinkActive="is-active" (click)="sidebar.closeDrawer()">{{'sidebar.home' | translate}}</a>
        <a class="mdl-navigation__link">{{'sidebar.teams' | translate}}</a>
        <a class="mdl-navigation__link">{{'sidebar.staff' | translate}}</a>
        <lang-widget></lang-widget>
        <auth-widget></auth-widget>
      </nav>
      <nav class="mdl-navigation">
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>Matrix</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/dashboard']" routerLinkActive="is-active" (click)="sidebar.closeDrawer()">{{'sidebar.home' | translate}}</a>
      <a class="mdl-navigation__link">{{'sidebar.teams' | translate}}</a>
      <a class="mdl-navigation__link">{{'sidebar.staff' | translate}}</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="mdl-grid  mdl-layout--small-screen-only">
      <div class="mdl-cell mdl-cell--3-col-tablet mdl-cell--2-col-phone">
        <auth-widget></auth-widget>
      </div>
      <div class="mdl-cell mdl-cell--2-col-tablet mdl-cell--3-offset-tablet mdl-cell--1-col-phone mdl-cell--1-offset-phone">
        <lang-widget></lang-widget>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
